<% layout('/boilerplate.ejs') -%>
<!-- #################################### work ##################################### -->
<article id='project'>
	<!-- title -->
	<h1>BioHacking: <span class='sub'>Do it yourself!</span></h1>

	<div class='full' style='margin:30px 0'>
			<iframe src="http://player.vimeo.com/video/57536108?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<div id='intro'>
		<div id='info'>
			<ul>
		    	<li><h4>Worked with</h4></li>
		    	<li><a href='' target='_blank'>Malthe Borch</a></li>
		    	<li><a href='' target='_blank'>Rudiger ejejeje</a></li>
		    	<li><a href='' target='_blank'>Karin Tybryg</a></li>
		    	<li><a href='' target='_blank'>Louise Whitely</a></li>
		  	</ul>
		  	<ul>
		    	<li><h4>Supported by</h4></li>
		    	<li><a href='' target='_blank'>Studiolab</a></li>
		    	<li><a href='' target='_blank'>Medical Musion</a></li>
		    	<li><a href='' target='_blank'>Center for synthetic biology</a></li>
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2012</li>
		  	</ul>
		</div>
		<div>	
			<p>In an exhibition room Medical Museion will install an open biology lab – a space that allows participation and developing of experiments and which has potential for democratizing biological science. At a series of public events visitors will be able to take part, getting a material insight into synthetic biology that will ground informal discussion about the origins, principles, and ethics of synthetic and open biology. In the pioneering spirit of open-science, hacking, and punk aesthetics, this shifts the material process of laboratory protocols – and the creativity of experimental design – out of dominant research institutions such as universities and large corporations and into publicly accessible spaces.</p>

			<p>The room will oscillate between active laboratory and an installation continually accessible to museum visitors, and online. Through recording of participants’ experiences the activities in the open lab will form part of the exhibition.</p>
		</div>
		<div class='clear'></div>
	</div>

	<div class="full">
		<img style='width: 75% !important;height: 82%;margin: 0px auto;' src='/img/bodystory_full.png'>
	</div>

	<div class="full">
		<p>The concern surrounding this vision of synthetic biology includes an impressive cast of characters: synthetic creations that run amok, ‘unnatural’ humans, and reckless or even malicious scientists. There is therefore much interest – also from the highest political level – in understanding public opinion and encouraging debate about synthetic biology futures as underlined by the international DIYbio outreach conferences in California hosted by the FBI in June 2012. Focus needs, however, also to be directed to the gritty, immediate questions about what synthetic biologists are actually doing, what are the short-term prospects, the barriers they face day to day, their perceptions of risk? And what kind of democratization does open science or biohacking actually provide, and for who? Or in other words, perhaps the ‘ethics is in the details’.</p>
	</div>

	<div>
		<div class="column col6">
			<img src='/img/bodystory_sidehistory.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/bodystory_process.png'>
		</div>
		<div class='clear'></div>
	</div>

	<div>
		<div class="column col6">
			<ul>
	    	<li><h4>The project is developed in partnership with:</h4></li>
	    	<li>Martin Malthe Borch, MSc Biological engineering, designer, co-founder of the local biohackerspace BiologiGaragen.</li>
	    	<li>Emil D. Lambreth Polny, project coordinator at UNIK Center for Synthetic Biology.</li>
	    	<li>Ane Pilgaard Sørensen, designer and exhibition assistant at Medical Museion.</li>
	    	<li>Thomas Söderqvist, professor and director at Medical Museion and initiator of the project.</li>
	    	<li>Rüdiger Trojok, open-science scholar and molecular biologist, currently finishing his Masters at the Technical University of Denmark.</li>
	    	<li>Karin Tybjerg, associate professor at Medical Museion and co-director of the project.</li>
	    	<li>Louise Whiteley, assistant professor at Medical Museion and co-director of the project.</li>
	  	</ul>
		</div>
		<div class="column col6 edge">
			<p>A few images of our process - getting an image of a body with enough detail but not too much was important to us. There are options for male and female as well as child figures.</p>
		</div>
		<div class='clear'></div>
	</div>

	
</article>