<% layout('/boilerplate.ejs') -%>

<article id='project'>
	<!-- title -->
	<h1>Calmark <span class='sub'>A lab in your pocket</span></h1>	

	<div class='full'>
		<iframe src="http://player.vimeo.com/video/57891883?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=ed9dbf" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	
	<div id='intro'>
		<div id='info'>
			<ul>
		    	<li><h4>Client</h4></li> <!-- this is the header for a section in the box -->
		    	<li><a href='http://www.calmark.se'>Calmark</a></li> <!-- this is the list of the things in the section -->
		  	</ul>
		  	<ul>
		    	<li><h4>Date</h4></li>
		    	<li>2013</li>
		  	</ul>
		</div>
			<p>Working closely with the Hilda Neo card the Calmark app uses basic colorimetry to provide a diagnostic number for measuring LDH and Bilirubin. Currently the app is in clinical trials and being tested in Sweden and Vietnam. </p>

			<p>When a baby is born they are tested for many things but there are a few indicators that indicate urgent needs of the baby. LDH is an intracellular enzyme found in all cells. Causes of high LDH in new borns is typically an indicator of perinatal asphyxia, hypotension, lymphoma, myocardial infarctions and a few others. The hilda neo card and app take 5 minutes total and provides a specific diagnostic that tells the nurse or doctor if a babies LDH levels are high. If they are high, the nurse can then look specifically into different possible problems to find out the cause. The LDH number is important to know immediately - it is similar to how we use fevers as an indicator of an illness, they are usually an indicator of something else - they are an important warning sign from the body.</p>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<img src='/img/calmark_settings.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/calmark_settings_results2.png'>
		</div>
		<div class='clear'></div>
	</div>
	<div class='imgs'>
		<div class="column col6">
			<p>All the information you need to know about the hilda Neo card and the procedure can be found in the settings. A tutorial guides you smoothly through running the test, you will find information about how the card works and why your using it, what LDH is and why it is a critical indicator of the health of a new born baby. </p>
		</div>
		<div class="column col6 edge">
			<p>After testing the results are stored and accessible at any time. You are able to email results within a trusted network. The color of the result indicates if the result is within range or not. The result expands to see more information about LDH or Bilirubin.</p>
		</div>
		<div class='clear'></div>
	</div>
	<div>
		<div class="column col6">
				<img src='/img/calmark_ianLab.png'>
		</div>
		<div class="column col6 edge">
			<img src='/img/calmark_wireframe.png'>
		</div>
		<div class='clear'></div>
	<div>
		
	<div class='full'>
		<p>The app uses color analysis and works in almost any lighting conditions because of the color reference on the hilda Neo card. It will also let you know if it is okay to complete the test by checking lighting conditions, time and expiriation of the card. </p>
	</div>
	

</article>